call wsclient.exe ws://127.0.0.1:11000 '{"SendTopicAction":{"Action":"1","FilterValue":"Test_BTCUSD_5m","LocalNo":4,"ResumeNo":-20,"TopicID":"11"}}'


call wsclient.exe 'ws://127.0.0.1:11000?MemberID=dsdfa&Token=dkjsdf" "{"SendUserLogin":{"UserID":"519725","Password":"deepcoin@0722"}}' '{"SendTopicAction":{"Action":"1","FilterValue":"","LocalNo":4,"ResumeNo":-1,"TopicID":"9"}}'