#相关目录设置

##国外机器使用的地址
#git_ip=154.213.2.253
##国内机器使用的地址
git_ip=www.gitee.com

##backup或者redo主机的配置
backup_release_ipaddr=127.0.0.1
backup_release_userid=trade

remote_release_ipaddr=47.103.71.106
remote_release_userid=exchange

sync_ipaddr=47.103.71.106
sync_userid=exchange