##=======================================================================================
##配置综述
##1、主备网络配置复杂，不宜分散所有的网络相关的配置使用同一个文件，非网络配置在各自的配置文件中体现
##2、如果有多个ip地址，使用了多个网段提供网络级别的主备，可以在配置中使用,号分隔不同的地址
##3、如果接收方配置了多个ip地址，tcp的连接情况下，数据接收方只保留一个tcp连接有效，只有当前tcp失效时，才连接下一个连接
##4、作为数据的提供方，虽然可以提供多个地址端口，但是不能配置多个同一个机器的同一个端口配置，同一端口占用会core

##=======================================================================================
##数据流关系：
#api<-->(down)kernel<-->(Seat表配置)kernel(up)/交易所前置
#主备业务数据流关系
#guard(guard)-->kernel1/kernel2,kernel1(hotline1)->kernel2,kernel2(hotline2)->kernel1

##=======================================================================================
##仲裁配置
#配置名称:仲裁与排队机之间的超时时间（单位秒）
#简要注释:所有的仲裁机和排队机都会读取这个配置，比如guard为多个排队机(trade/syncdb)提供服务，也读取这同一个配置
guardTimeout=60
#配置名称:排队机之间的超时时间（单位秒）
#简要注释:所有的仲裁机和排队机都会读取这个配置，比如guard为多个排队机(trade/syncdb)提供服务，也读取这同一个配置
HotlineTimeout=60
#配置名称:仲裁机配置
#数据关系:提供方(guard)，使用方(kernel)
#简要注释:仲裁机可以为很多主备提供仲裁服务，这里只要guard是默认的配置,;是多地址，^是多服务
#如果需要增加仲裁，增加guard1和guard2
guard=tcp://127.0.0.1:30001;tcp://127.0.0.1:30002^tcp://127.0.0.1:30003;tcp://127.0.0.1:30004
guard1=tcp://127.0.0.1:30011;tcp://127.0.0.1:30012
guard2=tcp://127.0.0.1:30021

##=======================================================================================
##主备配置
#配置名称:trade的主备配置
#简要注释:kernel使用的仲裁机，这里的guardkernel配置必须和guard、guard1、guard2中的一个匹配
guard_trade=tcp://127.0.0.1:30001;tcp://127.0.0.1:30002
#简要注释:kernel主备使用的排队机的配置,kenrel1读取hotline1,kenrel2读取hotline2
sequence_trade_1=tcp://127.0.0.1:30101
sequence_trade_2=tcp://127.0.0.1:30102

#配置名称:前置侦听的级联端口
#数据关系:提供方(kernel)，使用方(使用innerapi连接的下级kernel)
#简要注释:用于提供级联服务,gateway1是编号为1的kernel获取的，gateway2是编号为2的kernel获取的
#支持tcp协议/udp协议/multi协议
#ttcp://127.0.0.1:30300#2 2代表连续开出2个端口号
gateway_trade_0=tcp://127.0.0.1:30300
gateway_trade_1=tcp://127.0.0.1:30301
gateway_trade_2=tcp://127.0.0.1:30302

#配置名称:下级连接links的端口
#数据关系:提供方(kernel)，使用方(使用innerapi连接的下级kernel)
# 1(输入流)or 2(结果流)|ip:port|resumeNo(续传号),ip:port|SequenceNo(默认0) 1代表输入流,2代表输出流
#简要注释:用于提供级联服务,使用^隔离
#1|tcp://ip:port,tcp://ip:port|-1^2|tcp://ip:port,tcp://ip:port|-1
links_sinkdb_0=2|tcp://127.0.0.1:30300,tcp://127.0.0.1:30301
links_sinkdb_1=2|tcp://127.0.0.1:30300,tcp://127.0.0.1:30301
links_sinkdb_2=2|tcp://127.0.0.1:30300,tcp://127.0.0.1:30301

#dataswap配置
dataswap=dataswap:2
dataswap_trade_0=dataswap:2
#细化的dataswap配置，覆盖上层的dataswap配置
dataswap_trade_0_httpfront_2=dataswap:2
dataswap_public_0=dataswap:2
dataswap_public_1=dataswap:2
dataswap_public_2=dataswap:2
dataswap_public_5=dataswap:2
dataswap_private_0=dataswap:2
dataswap_private_1=dataswap:2
dataswap_querydb_0=dataswap:2
dataswap_risk=dataswap:2

#配置名称:Http协议的前置配置
#manager|http://ip:port/httphead#FrontNum#dll1:2|dll2:2|dll3:2...|dlln:2
#manager|http://127.0.0.1:10100/action#3#swapCFD1:2|precheck:2|precheck:2
#FrontNum代表连续开出多个端口号
#httpfront接受和回报分别使用一个线程去处理，这两个报文的处理量差不多，故而不需要多线程
httpfront_trade_0=manager|http://127.0.0.1:10000/action#2
#mhttpfront回报使用多线程去解析，这个用在查询等回报报文比较多的情况，#2代表两个线程处理
#mhttpfront_trade_0=manager|http://127.0.0.1:10000/action#5#2
httpfront_trade_1=
httpfront_trade_2=
httpfront_risk_0=manager|http://127.0.0.1:10310/risk
httpfront_triggerorder_0=manager|http://127.0.0.1:10320/triggerorder
httpfront_private_0=manager|http://127.0.0.1:10400/private#1
httpfront_private_1=normal|http://127.0.0.1:10410/private#5
httpfront_private_2=normal|http://127.0.0.1:10420/private#5
httpfront_private_3=normal|http://127.0.0.1:10430/private#5
httpfront_private_4=normal|http://127.0.0.1:10440/private#5
httpfront_private_5=normal|http://127.0.0.1:10450/private#5
httpfront_public_0=manager|http://127.0.0.1:10500/public#1
httpfront_public_1=normal|http://127.0.0.1:10510/public#5
httpfront_public_2=normal|http://127.0.0.1:10520/public#5
httpfront_public_3=normal|http://127.0.0.1:10530/public#5
httpfront_public_4=normal|http://127.0.0.1:10540/public#5
httpfront_public_5=normal|http://127.0.0.1:10550/public#5
httpfront_querydb_0=manager|http://127.0.0.1:10600/query#1
httpfront_querydb_1=normal|http://127.0.0.1:10610/query#5

#配置名称:WebSocket协议的前置配置
#11100#3#2 3代表开出多个端口号，3个ws前置出来,2代表两个线程处理，不填默认1
#wsfront用户可以自定义zip格式
wsfront_trade_0=manager|11000
wsfront_private_0=manager|11400#1#1
wsfront_private_1=manager|11410#2#3
wsfront_private_2=manager|11420#2#3
wsfront_private_3=manager|11430#2#3
wsfront_private_4=manager|11440#2#3
wsfront_private_5=manager|11450#2#3

#xwsfront只能使用固定的zip格式，这个格式在omq.ini的配置文件中决定，提高效率
#xwsfront_trade_0=normal|11100#3#5
#xwsfront_trade_1=
#xwsfront_trade_2=
xwsfront_public_0=normal|11500#2#3
xwsfront_public_1=normal|11510#2#3
xwsfront_public_2=normal|11520#2#3
xwsfront_public_3=normal|11530#2#3
xwsfront_public_4=normal|11540#2#3
xwsfront_public_5=normal|11550#2#3

##========================================================================================
##接入配置
##前置机配置包括两个端口:一个是gateway端口，用于级联使用，一个是front端口，用于提供前置接入服务
##qtrade核心也会提供前置服务，编号为0，主备trade前置不同时打开，主备trade提供的端口号一样
#配置名称:前置侦听的前置端口
#数据关系:提供方(kernel)，使用方(api/client)
#简要注释:用于提供的接入服务,front1是编号为1的kernel获取的，front2是编号为2的kernel获取的
#trade/kline/market等是主备概念，如果是单机概念使用0号，如果是主备，使用1号和2号
#tcp://127.0.0.1:12000#3 3代表开出多个端口号，多个前置
front_trade_0=tcp://127.0.0.1:12000
front_trade_1=tcp://127.0.0.1:12000
front_trade_2=tcp://127.0.0.1:12000
#front_public_0=tcp://127.0.0.1:12530
#front_private_0=tcp://127.0.0.1:12540

#配置名称:多播前置侦听的前置端口(主要用于行情)
multifront_trade_0=13000
multifront_trade_1=
multifront_trade_2=

#配置名称:Fix协议的前置配置
fixfront_trade_0=14000
fixfront_trade_1=
fixfront_trade_2=

#配置名称:共享内存协议的前置配置
shmfront_trade_0=15000
shmfront_trade_1=
shmfront_trade_2=

#Dump快照文件的存放位置,放到network里面是为了所有程序看到的这个配置是一致的
CSVDumpPath=../trade/snap/
CSVDumpPath_sinkdb_0=../trade/snap/
CSVDumpPath_sinkdb_1=../trade1/snap/
CSVDumpPath_sinkdb_2=../trade/snap/

##========================================================================================
##数据库配置
#dbname的格式是 X://Y X可以为 MYSQL/ORACLE/SYBASE/SQLSERVER/DB2
#如果是MYSQL:格式为 MYSQL://ip:port@dbname
#如果是ORACLE:格式为 ORACLE://orabiz
#如果是SQLSERVER:格式为 SQLSERVER://user@dbname
#dbname=ORACLE://ORABIZ168
dbname=MYSQL://127.0.0.1:3306@perpetual
dbuser=root
dbpasswd=!QAZ2wsx

##query所用的数据库配置
dbname_querydb_0=MYSQL://127.0.0.1:3306@perpetual
dbuser_querydb_0=root
dbpasswd_querydb_0=qRsWdmzh123~

##========================================================================================
##用于gateway内部标识对方
GateWayKey=9YtdfutGJKOSUDrdjfhsg#$dfjdhsdus

##========================================================================================
##Public配置
[Public_0_Links]
Links=1
##用于配置快照行情的挡位，0代表不做快照行情，负数代表不做任何行情，默认为0
MDSnapDepth=5
[Public_0_Link1]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi
[Public_0_Link2]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Public_1_Links]
Links=1
MDSnapDepth=5
PrivateBase=10000
[Public_0_Link1]
LinkAddress=tcp://127.0.0.1:12530
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Public_2_Links]
Links=1
MDSnapDepth=5
PrivateBase=10000
[Public_0_Link1]
LinkAddress=tcp://127.0.0.1:12530
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Public_3_Links]
Links=1
MDSnapDepth=5
PrivateBase=10000
[Public_0_Link1]
LinkAddress=tcp://127.0.0.1:12530
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Public_4_Links]
Links=1
MDSnapDepth=5
PrivateBase=10000
[Public_0_Link1]
LinkAddress=tcp://127.0.0.1:12530
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Public_5_Links]
Links=1
MDSnapDepth=5
PrivateBase=10000
[Public_0_Link1]
LinkAddress=tcp://127.0.0.1:12530
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

##========================================================================================
##Private配置
[Private_0_Links]
Links=1
##用户配置订阅的私有行情的倍数，这个订阅用户Grade的私有数据，必须为10000的整数倍，小于10000则为0，默认为0
PrivateBase=10000
[Private_0_Link1]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Private_1_Links]
Links=1
[Private_1_Link1]
LinkAddress=tcp://127.0.0.1:12230
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Private_2_Links]
Links=1
[Private_2_Link1]
LinkAddress=tcp://127.0.0.1:12230
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[Private_3_Links]
Links=1
[Private_3_Link1]
LinkAddress=tcp://127.0.0.1:12230
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[QueryDB_0_Links]
Links=1
[QueryDB_0_Link1]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[QueryDB_*_Links]
Links=1
[QueryDB_*_Link1]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi

[MarketMaker_0_Links]
#需要模拟的交易系统，只能有一个，1代表取[Link1]的配置
To=2
#获取行情的系统，可以有多个，使用,分隔
From=4
#模拟盘
[MarketMaker_0_Link1]
LinkAddress=tcp://52.68.214.155:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi
EncryptType=0
LinkUserID=1121
LinkPassword=111111
#Topic:主题号:过滤类型(0[全部]/1[索引]/2[用户]):过滤值
Config=APPID:MarketMaker

#本地模拟
[MarketMaker_0_Link2]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi
EncryptType=0
LinkUserID=1121
LinkPassword=111111
#Topic/Pair:主题号:过滤值
Config=APPID:MarketMaker

[MarketMaker_0_Link3]
#LinkAddress=wss://okexcomreal.bafang.com:8443/ws/v3
#LinkAddress=wss://real.coinall.ltd:8443/ws/v3
#LinkAddress=wss://wspri.coinall.ltd:8443/ws/v5/public
#LinkAddress=wss://sdstream.yshyqxx.com/stream
LinkAddress=wss://wspri.okx.com:8443/ws/v5/public
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToOKX
EncryptType=0
LinkUserID=
LinkPassword=
Config=

[MarketMaker_0_Link4]
LinkAddress=wss://stream.binance.com/stream
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToBinanceWs
#模拟行情是真实行情的多少，double类型(0.1/0.001/0.25/2.5)
Config=VolumeRatio:0.001

[MarketMaker_0_Link5]
#LinkAddress=wss://fstream.yshyqxx.com/stream
#LinkAddress=wss://stream.yshyqxx.com/stream
#LinkAddress=wss://fstream.binance.com/stream
LinkAddress=wss://stream.binance.com/stream
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToBinanceWs
#模拟行情是真实行情的多少，double类型(0.1/0.001/0.25/2.5)
Config=VolumeRatio:0.01

[MarketMaker_0_Link6]
LinkAddress=
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToStable
Config=VolumeRatio:1

[MarketMaker_0_Link16]
LinkAddress=http://qt.gtimg.cn/q=
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToQQ
EncryptType=0
LinkUserID=
LinkPassword=
#Topic:主题号:过滤值
Config=Pair:3:all

[MarketMaker_0_Link16]
LinkAddress=http://hq.sinajs.cn/list=
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToSina
EncryptType=0
LinkUserID=
LinkPassword=
#Topic:主题号:过滤值
Config=Pair:3:all

#中信期货
[MarketMaker_0_Link18]
LinkAddress=tcp://ctp1-md1.citicsf.com:43213
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaToCTP
EncryptType=0
LinkUserID=
LinkPassword=
#Topic:主题号:过滤值
Config=Pair:3:all

##========================================================================================
##triggerorder配置
[TriggerOrder_0_Links]
Links=1
[TriggerOrder_0_Link1]
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi
LinkUserID=1121
LinkPassword=111111
#用于区分登录的作用
Config=APPID:TriggerOrder

##========================================================================================
##risk配置
[Risk_0_Links]
Links=1
[Risk_0_Link1]
#LinkAddress=tcp://119.45.191.216:12000
LinkAddress=tcp://127.0.0.1:12000
LinkDllName=LinkOneMega:2
LinkDllLoad=OneMegaApi
LinkUserID=1121
LinkPassword=111111
#用于区分登录的作用
Config=APPID:Risk0
