
@text-color-dark: rgba(255, 255, 255, .85);
@text-secondary-color-dark: rgba(255, 255, 255, .45);
@text-third-color-dark: rgba(255, 255, 255, .3);
@background-color-dark: rgba(255, 255, 255, .2);
@background-secondary-color-dark: rgba(255, 255, 255, .1);
@background-third-color-dark: rgba(255, 255, 255, .05);
@popover-background-color-dark: #252525;
@disabled-background-color-dark: rgba(255, 255, 255, .1);
@disabled-secondary-background-color-dark: rgba(255, 255, 255, .5);
@border-color-dark: rgba(255, 255, 255, .1);
@border-dark: solid 1px @border-color-dark;
@border-secondary-color-dark: rgba(255, 255, 255, .05);
@border-secondary-dark: solid 1px @border-secondary-color-dark;


@text-color-light: #1c1c1e;
@text-secondary-color-light: rgba(0, 0, 0, .45);
@text-third-color-light: rgba(0, 0, 0, .3);
@background-color-light: rgba(0, 0, 0, .2);
@background-secondary-color-light: rgba(0, 0, 0, .1);
@background-third-color-light: rgba(0, 0, 0, .05);
@popover-background-color-light: #f5f5f5;
@disabled-background-color-light: rgba(0, 0, 0, .1);
@disabled-secondary-background-color-light: rgba(0, 0, 0, .5);
@border-color-light: rgba(0, 0, 0, .1);
@border-light: solid 1px @border-color-light;
@border-secondary-color-light: rgba(0, 0, 0, .05);
@border-secondary-light: solid 1px @border-secondary-color-light;


@background-dark: #232323;
@section-dark: #121212;

@main-blue: #1677ff;
@main-yellow: #f3891a;
@main-green: #2DC08E;
@main-red: #F92855;
@hover-background-color: rgba(19, 107, 240, 0.1);
@box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 16px 48px rgba(0, 0, 0, 0.1);
@border-radius: 4px;
@funny-prefix: funny;