@import (reference) '../../../../component/common.less';

.exchange-more-period {
  &-input {
    font-size: 14px;
    height: 42px;
  }
  .funny-select-selector {
    border: none;
    padding: 0;
    font-size: 14px;
    .funny-select-selector-value {
      margin-right: 6px;
    }
  }
  .funny-select-popover {
    width: 90px;
    left: -12px;
    ul {
      li {
        font-size: 14px;
        height: 32px;
        padding: 0 12px;
      }
    }
  }
}