.container {
    padding: 20px;
    min-height: 100vh;
    background: var(--bg-primary);
    max-width: 100%;
    margin: 0 auto;
}

.loading {
    padding: 60px 20px;
    text-align: center;
    color: var(--text-secondary);
    font-size: 14px;
    /* background: var(--bg-secondary); */
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}