@import (reference) '../../../../component/common.less';

.exchange-adjust-margin-content-tab-dark {
  height: 40px;
  border-top: @border-secondary-dark;
}

.exchange-adjust-margin-content-tab-light {
  height: 40px;
  border-top: @border-secondary-light;
}
