@section-gap: 3px;

@middle-section-height: 560px;

// @symbol-width: 240px;

@order-book-deal-detail-width: 280px;
@order-book-deal-detail-width-min-screen: 180px;

@order-board-width: 250px;

// @chart-width: calc(100% - 3 * @section-gap - @symbol-width - @order-book-deal-detail-width - @order-board-width);
@chart-width: calc(100% - 3 * @section-gap - @order-book-deal-detail-width - @order-board-width);

@chart-width-middle-screen: calc(100% - 2 * @section-gap - @order-book-deal-detail-width - @order-board-width);

@chart-nav-height: 36px;

@chart-nav-height-min-screen: 40px;

@medium-screen: ~'only screen and (min-width: 768px) and (max-width: 1440px)';

@min-screen: ~'only screen and (max-width: 768px)';
