@import (reference) '../common.less';

.exchange-trading-setting {
  justify-content: flex-end;
  gap: 12px;
  @media @min-screen {
    // flex: initial;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4px;
  }
  &-button {
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
  }
}